.react-calendar {
  display: flex;
  flex-direction: column;
  width: 28rem;
  height: 28rem;
  margin: 0 4rem;
  position: absolute;
  
  z-index: 9;
}



.react-calendar__navigation {
  display: flex;
  flex-direction: row;
  height: 6rem;
  margin: 1rem 0;
  border-radius: 1rem;
  
}
  

.react-calendar__navigation button {
  
  height: 3rem;
  width: 3rem;
  background: transparent;
  
  background-color: rgba(22, 19, 19, 0.1);
  border-radius: 1rem;
  border-color: transparent;
}


.react-calendar__navigation__label span {
  display: inline-block;
  
  
  color: rgb(199, 189, 189);
  
  font-size: 2rem;

  font-family: 'Montserrat Alternates';
  
}

.react-calendar__navigation__arrow {
  display: none;
  /* flex-direction: row;
  justify-content: center;
  font-style: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  align-items: center;
  color: rgb(221, 215, 215);
  font-size: 20rem;
*/
}

.react-calendar__year-view__months__month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  align-items: center;
  color: rgb(221, 215, 215);
  font-size: 1.5rem;
  
  height: 1rem;
  width: 1rem;
  background: transparent;
  backdrop-filter: blur(4rem);
  border: 0;
  height: 4rem;
  margin: 0;
  padding: 0;
}

.react-calendar__year-view__months__month:hover {
  background: rgb(192, 174, 174);
}

.react-calendar__year-view__months__month:disabled {
  background: rgb(87, 87, 87, 0.4);
}

.react-calendar__year-view__months__month:active button {
  background: rgb(255, 255, 255);
  border-radius: 2rem;
}

.react-calendar__month-view__days {
  background: transparent;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  height: auto;
  

  
}

.react-calendar__month-view__days button {
  height: 4rem;
  
  
  cursor: pointer;
  border-radius: 20%;
  border: 0;
}

.react-calendar__month-view__days button abbr {
  mix-blend-mode: difference;
  text-decoration: none;
  transform: scale(100%);
  transition: all 0.5s;
  border-style: solid 1rem;
  border-color: rgb(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: 1rem;
  font-weight: bolder;
  font-size: large;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 800;

}



.react-calendar__month-view__days button {
  mix-blend-mode: overlay;
  transform: scale(90%);
  transition: all 0.1s;
  opacity: 90%;
  
}

.react-calendar__month-view__days button:hover {
  background: rgba(255, 255, 255, 60%);
  border-radius: 40%;

}

.react-calendar__month-view__days button:active abbr {
  mix-blend-mode: difference;
  transform: scale(110%);
  transition: all 0.1s;

  border-color: rgb(255, 255, 255, 1);
}

.react-calendar__month-view__days button:active {
  background: rgb(255, 255, 255, 1);
  border-radius: 100%;
  mix-blend-mode: overlay;
  transform: scale(100%);
  transition: all 0.5s;
  opacity: 100%;
}

.sunday {
  background: rgb(255, 255, 255, 0.1);
}

.sunday:hover {
  background: rgba(255, 255, 255, 0);
}

.react-calendar__month-view__weekdays__weekday {
  display: none;
}