.header-box {
  display: flex;
  
  flex-direction: column;
  left: 4rem;
  z-index: 11rem;
  align-items: flex-end;
  
}

.header-box__main {
  margin: 2rem 0 0 0;
  position: sticky;
  
  top: 4rem;
  height: 30rem;
  
}

.header-box a{
  text-decoration: none;
  
}

.header__link:hover {
  cursor: pointer;
  line-height: 5rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
}

.header__link {
  line-height: 4rem;
  font-size: 3rem;
  color: #656565;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
} 

.header-link__auth {
  color: rgba(160, 54, 42, 1);
}

