@import 'select';

$rem: 10px;
$font: 'Montserrat Alternates', sans-serif;
%marpad { 
  margin: 0; 
  padding: 0;
}

html, 
body {
  font-size: $rem;
  background: #1E1E1E;
  font-family: $font;
  font-weight: 700;  
}

* {
  @extend %marpad;
}

*:focus {
  outline: none !important;
  outline-style: none !important;
}

*:active {
  outline: none !important;
  outline-style: none !important;
}

@media (min-width: 1080px) {
  html, body {
    font-size: $rem;
  }
} 

@media (max-width: 1080px) {
  html, body {
    font-size: 0.7$rem;
  }
} 

@media (max-width: 500px) {
  html, body {
    font-size: 0.5*$rem;
  }
}

/* ROOT */
#root {
  margin: 0;
}

/* APP -> App.js*/ 
.App {
  display: grid;
  grid-template-columns: repeat(3, 36rem);
  gap: 4rem;
  justify-content: center;
}

.center {
  position: relative;

}

.center__elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}

.app-router {
  z-index: 1;
  width: 36rem;
  
  top: 0;
  
}

.ui__columns .columns-box div{
  background-color: #f7f7f7;
}

h1 {
  font-size: 3$rem;
  color: #ffffff;
  
}

a {
  font-size: 3$rem;
  color: #ffffff;
}