.page {
  position: absolute;
  background: transparent;
  border-radius: 1rem;
  width: 36rem;
  height: 28rem;
  top: 28rem;
  backdrop-filter: blur(0.15rem transition all);
  justify-content: center;
  align-items: center;
  display: flex;
  
}



.form__auth {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 19, 19, 0.6);
  
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  border: .1rem solid rgb(187, 187, 187);
  
}

.form__auth div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.form__auth input {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0;
  margin: 1rem;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}

.form__auth input:focus {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}


.form__auth label {
  color: whitesmoke;
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

.form__auth button {
  width: 20rem;
  height: 4rem;
  margin: 0;
  border: none;
  background: whitesmoke;
  border-radius: 0rem;
  font-size: 1.5rem;
  border: .1rem solid rgba(170, 170, 170, 0);
  backdrop-filter: blur(0.6rem);
  transition: all 0.5s;
}



.form__auth button:hover {
  
  border: 0.3rem solid rgba(99, 99, 99, 0.699);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: rgba(63, 63, 63, 0);
  border-radius: 1rem;
  font-size: 1.5rem;
  backdrop-filter: blur(.6rem);
  transition: all 0.5s;
}

.form__auth-link {
  color: rgb(226, 226, 226);
  width: auto;
  font-size: 1.4rem;
  transition: all 0.5s;
  line-height: 2rem;
  padding: 0 1rem;
  text-decoration: underline;
}

.form__auth-link:hover {
  color: rgb(255, 105, 105);
  padding: 0 1rem;
  text-decoration: underline;
  font-size: 1.5rem;
  transition: all 0.5s;
  
}

.form__auth__radio {
  display:flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form__auth__radio button {
  width: 12rem;
  height: 3rem;
  color: black;
}

.form__auth__radio button:hover {
  width: 14rem;
  height: 3rem;
  background: whitesmoke;
  border-color: whitesmoke ;
  color: black;

}

div .form__auth__link {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

div .form__auth__link a {
  height: 2rem;
  color: rgb(255, 213, 198);
}