.page {
  position: absolute;
  background: transparent;
  border-radius: 1rem;
  width: 36rem;
  height: 28rem;
  top: 20rem;
  /* backdrop-filter: blur(1rem transition all); */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.form__auth {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 19, 19, 0.6);
  
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  border: .1rem solid rgb(126, 0, 0);
  
}

.form__auth div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.form__auth input {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0;
  margin: 1rem;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  transition: all 0.4s;
}

.form__auth input:focus {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  transition: all 0.4s;
}


.form__auth label {
  color: whitesmoke;
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

.form__auth button {
  width: 20rem;
  height: 4rem;
  margin: 0;
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 0rem;
  font-size: 1.5rem;
  border: .1rem solid rgb(170, 170, 170);
  backdrop-filter: blur(0.6rem);
  transition: all 0.5s;
}



.form__auth button:hover {
  
  border: 0.3rem solid rgba(99, 99, 99, 0.699);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: rgba(63, 63, 63, 0);
  border-radius: 1rem;
  font-size: 1.5rem;
  backdrop-filter: blur(.6rem);
  transition: all 0.5s;
}

.form__auth--submit-btn  {
  color: #141414;
  font-weight: 700;
  background:rgb(155, 170, 129) !important;
}

.form__auth--submit-btn:hover  {
  color: #ffffff;
  background:rgba(42, 59, 13, 0) !important;
}

.form__auth--links {
  display: flex;
  justify-content: center;
  width: 30rem;
  flex-direction: row !important;
  margin: 1rem;
}

.form__auth-link {

  color: rgb(226, 226, 226);
  width: auto;
  font-size: 1.4rem;
  transition: all 0.5s;
  line-height: 2rem;
  padding: 0 1rem;
  text-decoration: underline;
}

.form__auth-link:hover {
  color: rgb(255, 105, 105);
  padding: 0 1rem;
  text-decoration: underline;
  font-size: 1.5rem;
  transition: all 0.5s;
  
}

.form__auth--radio {
  display:flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form__auth--radio button {
  width: 12rem;
  height: 4rem;
  color: black;
}

.form__auth--radio button:hover {
  width: 14rem;
  height: 3rem;
  background: whitesmoke;
  border-color: whitesmoke ;
  color: black;

}

.form__auth--radio button:focus {
  width: 14rem;
  height: 4rem;
  background: rgb(104, 46, 46);
  border-color: rgb(243, 243, 243) ;
  color: rgb(255, 255, 255);
  transition: all 0.1s;
  outline: none;
}

div .form__auth__link {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

div .form__auth__link a {
  height: 2rem;
  color: rgb(255, 213, 198);
}

.columns {
  display: grid;
  grid-template-columns: repeat(7,4rem);
  position: relative;
  z-index: 1;
  justify-content: center;
  position: absolute;
  top:  18rem;
}

.column{
  width: 4rem;
  height: 20rem;
  background: linear-gradient(0deg, #D9D9D9 20%, rgba(217, 217, 217, 0) 40%);
}

.columns .column-1 {
  grid-column: 1;
  
}

.columns .column-2 {
  grid-column: 2;
  
}

.columns .column-3 {
  grid-column: 3;
  
}

.columns .column-4 {
  grid-column: 4;
  
}

.columns .column-5 {
  grid-column: 5;
  
}

.columns .column-6 {
  grid-column: 6;
  
}

.columns .column-7 {
  grid-column: 7;
  
}

.calendar-info {
  justify-content: center;
  width: 36rem;
  height: 28rem;
  flex-direction: column;
  
  
  display: flex;
  
  z-index: 9;
  left: 0rem;
  padding:2rem;
  
  
  backdrop-filter: blur(0.2rem);
  background: rgba(22, 19, 19, 0.4);
  
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  border: .1rem solid rgb(187, 187, 187);
  
}


.calendar-info__form {
  justify-content: center;
  width: min-content;
  height: min-content;
  flex-direction: column;
  background: #18161600;
  display: flex;
  
  padding:2rem;
  position: relative;
  backdrop-filter: blur(0.2rem);
  border-radius: 1rem;
  font-size: 1.5rem;
  align-items: center;
}

.calendar-info__form p {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0.5rem 0 ;
  border-radius: 0rem;
  
  font-size: 1.5rem;
  padding: .4rem;
  border: 0.6rem;
  transition: all 0.4s;
  width: 28rem;
  color:#d6d6d6;
  text-shadow: 0px 5px 10px #000000;
}

.calendar-info__form input {
  
  margin: 1rem 0 ;
  border-radius: 0rem;
  background-color: rgba(255, 255, 255, 0.685);
  font-size: 1.8rem;
  padding: .4rem;
  border: 0;
  transition: all 0.4s;
  width: 20rem;
}

.calendar-info__form input:focus {
  margin: 1rem 0 ;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.685);
  font-size: 1.5rem;
  padding: 1rem;
  border: 0;
  transition: all 0.4s;
  width: 22rem;
}

.calendar-info__form label {
  margin: 1rem 0 ;
  display: flex;
  align-items: center;
  
  border-radius: 0.6rem;
  font-size: 1.5rem;
  justify-content: center;
  box-shadow: 0;
  color: #D9D9D9;
}

.calendar-info__form button {
  margin: 0 ;
  border-radius: 0rem;
  background-color: rgba(255, 255, 255, 0.685);
  font-size: 1.5rem;
  padding: .4rem;
  border: 0;
  transition: all 0.4s;
}

.calendar-info__form button:hover {
  margin: 1rem 0 ;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  padding: 1rem;
  border: 1;
  color: white;
  border-color: #D9D9D9;
  transition: all 0.4s;
}

.btn__radio--users {
  position: absolute;
  top: 1rem;
  right: 3rem;
  left: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn__radio--users label {
  color: #D9D9D9;
  width: 26rem;
  height: 2rem;
}

.btn__radio--users button {
  color: #D9D9D9;
  width: 20rem;
  height: 3rem;
  background-color: #cf4e4e8f;
}

.btn__radio--users button:hover {
  width: 20rem;
  height: 3rem;
  background: rgba(255, 99, 99, 1);
  border-color: rgb(255, 235, 235) ;
  color: black;
  transition: all 0.4s;
}

.btn__radio--users button:checked  {
  width: 20rem;
  height: 3rem;
  background: rgba(255, 205, 205, 0);
  border-color: rgb(255, 120, 120) ;
  color: black;
  transition: all 0.4s;
}

.btn__radio--users button:focus  {
  width: 20rem;
  height: 3rem;
  background: rgb(192, 109, 109, .2);
  border-color: rgb(243, 243, 243) ;
  color: rgb(253, 253, 253);
  transition: all 0.4s;
  justify-content: center
}



.page__profile {
  background:rgba(187, 187, 187, 0.1);
  height: min-content;
  border: rgba(187, 187, 187, 1) solid 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

.appoint__list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255, 1) 0%, rgb(153, 153, 153, 1) 26%, rgb(0, 0, 0) 100%);
  height: min-content;
  width: 4rem;
  border-radius: 0.6rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center
}

.appoint__flex {
  margin: 0.5rem;
  height: 4rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255) 5%, rgb(153, 153, 153) 30%, rgb(0, 0, 0) 90%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appoint__flex input {
   font-size: 2rem;
   height: 3rem;
   margin: 0;
   width: 14rem;
   
}

.appoint__flex input:focus {
   font-size: 2rem;
   height: 3rem;
   margin: 0;
   width: 16rem;
   border-radius: 0;
   
}

.appoint__delete-btn {
  height: 3rem;
  margin: 1rem;
  padding: 0px;
}

.appoint__delete-btn:hover {
  height: auto;
  color: rgb(119, 0, 0);
  
}