html, body {
  font-size: 10px;
  background: #1E1E1E;
  
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus-visible{
  outline: none;
  outline-style: none;
}

*:focus-within{
  outline: none;
  outline-style: none;
}

*:focus {
  outline: none;
  outline-style: none;
}





body, html:focus {
  color: none;
  background: none;
}

@media (min-width: 1080px) {
  html, body {
    font-size: 10px;
  }
} 

@media (max-width: 1080px) {
  html, body {
    font-size: 7px;
  }
} 


@media (max-width: 500px) {
  html, body {
    font-size: 5px;
  }
}

/* ROOT */
#root {
  margin: 0;
}

/* APP -> App.js*/ 
.App {
  display: grid;
  grid-template-columns: repeat(3, 36rem);
  gap: 4rem;
  justify-content: center;
}

.center {
  position: relative;
}

.center__elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.app-router {
  z-index: 9;
  width: 36rem;
  height: 28rem;
  top: 0;
  
}

.ui__columns .columns-box div{
  background-color: #f7f7f7;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  
}


a {
  font-size: 3rem;
  color: #ffffff;
}