.columns {
  display: flex;
  justify-content: space-around;
  top: 0;
  gap: 4rem;
  grid-column: 2;
  grid-row: 1;
  margin: 0 4rem;
  z-index: 1;
}

.columns div {
  width: 4rem;
  min-height: 200rem;
}

.columns div:not(.column4) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 4.17%, #9d6852 55.73%, #815656 100%);
}

.column4 {
  background: linear-gradient(180deg, #cc6847 0%, #981c1c 27.6%, #ffcebd 72.92%, #ffdfdf 96.35%);
}

.logo_un {
  position: sticky;
  top: 4rem;
  margin: 0 0 0 -1rem;
  width: 6.2rem;
  height: 5.2rem;
  mix-blend-mode: overlay;
  transform: scale(100%);
  transition: all 0.5s;
  opacity: 90%;
}

.logo_un:hover {
  cursor: pointer;

  top: 4rem;
  margin: 0 0 0 -1rem;
  width: 6.2rem;
  height: 5.2rem;
  mix-blend-mode: normal;
  transform: scale(106%);
  opacity: 100%;
  transition: all 0.5s;
}
