.header-box {
  display: flex;
  position: sticky;
  flex-direction: column;
  
  margin: 4rem 0 0 0;
}

.header__link {
  position: sticky;
  top:1rem;
  
  
}

.header__link h1:hover {
  cursor: pointer;
  line-height: 5rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
}

.header__link h1{
  line-height: 4rem;
  font-size: 3rem;
  color: #656565;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
  text-decoration: none;
}

.header__link__auth h1 {
  color: rgba(160, 54, 42, 1);
}


